.hw-border {
  border: 2px solid black;
}

/*-----> First task classes <-----*/

.hw-container {

  /*Add style for position */
position: relative;
margin: -20px;
border: 2px solid black;
width: 400px;
height: 300px;
}

.hw-container > .hw-figure {
  border: 1px solid black;
  width: 100px;
  height: 100px;

  /*I've added these styles here to not duplicate them beneath */
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}

.hw-container > .hw-figure.hw-square {
  background-color: green;

  /*Add style for position and transforming */
  z-index: 1;
}

.hw-container > .hw-figure.hw-circle {
  background-color: blue;

  /*Add style for position and transforming */
  border-radius: 50%;
  z-index: 2;
}

.hw-container > .hw-figure.hw-rhomb {
  background-color: yellow;

  /*Add style for position and transforming */
  transform: rotate(45deg) scale(1.4);
}

/*-----> Second task classes <-----*/

textarea.hw-textarea {
  resize: none;
  overflow: hidden;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
}

.top-nav {
  background-color: #074dff;
  height: 130px;
}

.main-wrapper {
  display: flex;
}

.left-nav {
  background-color: #83b925;
  flex-grow: 1;
  height: 400px;
}

.wrapper {
  flex-grow: 2;
}

.filter-panel {
  background-color: #9123f3;
  flex-grow: 1;
  height: 100px;
}

.sub-wrapper {
  display: flex;
  height: 300px;
}

.first-cont, .second-cont, .third-cont {
  flex-grow: 1;
  min-width: 100px; min-height: 100px; max-height: 300px; max-width: 300px;
}

.first-cont {
  background-color: #ffb4de;
}

.second-cont {
  background-color: #ffd1b4;
}

.third-cont {
  background-color: #ffff9a;
}

@media screen and (max-width: 500px) {
  .sub-wrapper { display: block; }
}

/*-----> Third task classes <-----*/








/*-----> Four task classes <-----*/

/*!!!!!!! layout style here !!!!!!!*/

/*---------------------------------*/
